# Required self-hosting vars
SELF_HOSTED=true
ONBOARDING_STATE=closed
SECRET_KEY_BASE=${SECRET_KEY_BASE}
RAILS_MASTER_KEY=${RAILS_MASTER_KEY}

# Database & Redis (Set via docker-compose environment section as well, but good to have here)
DB_HOST=db
REDIS_URL=redis://redis:6379/1

# E-mail (Resend SMTP)
SMTP_ADDRESS=smtp.resend.com
SMTP_PORT=465
SMTP_USERNAME=resend
SMTP_PASSWORD=${RESEND_API_KEY}
SMTP_TLS_ENABLED=true
EMAIL_SENDER=noreply@fluxome.app

# Branding
PRODUCT_NAME=Finance
BRAND_NAME=Fluxo

# CSP & Security
ENABLE_FRAME_ANCESTORS=true
HTTP_ALLOWED_HOSTS=https://fluxome.app,https://admin.fluxome.app
DISABLE_SSL=true # O Traefik gerencia o SSL externo, o app roda em HTTP interno
RAILS_FORCE_SSL=false
RAILS_ASSUME_SSL=true
